<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(xmlns="http://www.w3.org/1999/xhtml", 
     xmlns:h="http://xmlns.jcp.org/jsf/html",
     xmlns:f="http://xmlns.jcp.org/jsf/core")

  - proxyMaker = (beanName, properties) => new Proxy({beanName:beanName},  {  get(target, name) {  /* handler */ if((typeof properties === 'object') && !properties.includes(name)) { console.error(`WARNING: proprty:"${name}" not found in bean: "${target.beanName}"`); } return name ? `#{${target.beanName}.${name}}` :`#{${target.beanName}}` ;} });
  - em = proxyMaker("eventManager");
  
  h:head
    title Duke's RSVP - Event Status
    h:outputStylesheet(library="css" name="default.css")/
  h:body
    h1 
      | Response For 
      h:outputText(value=em['currentEvent.name'])/
    h:form
      h:dataTable(var='response', value=em['retrieveEventResponses()'], summery="List of all responses for Event")
        - r = proxyMaker("response")
        h:column
          f:facet(name='header')
            h:outputText(value="Name")/
          h:outputText(value=`${r['person.firstName']} ${r['person.lastName']}`)/
        h:column
          f:facet(name='header')
            h:outputText(value="Status")/
          h:commandLink(value=r[''], action=em['viewResponse(response)'])
    br/
    h:link(outcome='index', value='Back to the main page.')/

