<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(xmlns="http://www.w3.org/1999/xhtml", 
     xmlns:h="http://xmlns.jcp.org/jsf/html",
     xmlns:f="http://xmlns.jcp.org/jsf/core")

  - proxyMaker = (beanName, properties) => new Proxy({beanName:beanName},  {  get(target, name) {  /* handler */ if((typeof properties === 'object') && !properties.includes(name)) { console.error(`WARNING: proprty:"${name}" not found in bean: "${target.beanName}"`); } return `#{${target.beanName}.${name}}`;} });
  - pb = proxyMaker("playersBean");
  
  h:head: title 
  f:metadata
    f:viewParam(name='nameparam', value=pb.name)/
    f:viewParam(name='surnameparam', value=pb.surname)/
    f:viewAction(action=pb['validateData()'], onPostback="true")/
    
  h:body
    p 
     | You requested name: 
     h:outputText(value=pb.name)/
    p 
     | You requested surname: 
     h:outputText(value=pb.surname)/
    h:link(outcome='index.xhtml') sameer veda
      f:param(name='nameparam', value='sameer')/
      f:param(name='surnameparam', value='veda')/
      

    

